.header{
    display: flex;
    width: 100%;
}
.con1{
    width: 30%;
}
.con2{
    width: 70%;
    color: orange;
    font-family: serif;
    text-align: center;
    font-style: italic;
    font-size: 70px;
}